apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
  - otel-collector.yaml
patches:
  # adservice - not yet implemented
  # checkoutservice - tracing, profiler
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: checkoutservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "opentelemetrycollector:4317"
                - name: OTEL_SERVICE_NAME
                  value: "checkoutservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: ENABLE_PROFILER
                  value: "1"
  # currencyservice - tracing, profiler
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: currencyservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "opentelemetrycollector:4317"
                - name: OTEL_SERVICE_NAME
                  value: "currencyservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: DISABLE_PROFILER
                  $patch: delete
  # emailservice - tracing, profiler
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: emailservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "opentelemetrycollector:4317"
                - name: OTEL_SERVICE_NAME
                  value: "emailservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: DISABLE_PROFILER
                  $patch: delete
  # frontend - tracing, profiler
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: frontend
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: ENABLE_TRACING
                  value: "1"
                - name: COLLECTOR_SERVICE_ADDR
                  value: "opentelemetrycollector:4317"
                - name: OTEL_SERVICE_NAME
                  value: "frontend"
                - name: ENABLE_PROFILER
                  value: "1"
  # paymentservice - tracing, profiler
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: paymentservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "opentelemetrycollector:4317"
                - name: OTEL_SERVICE_NAME
                  value: "paymentservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: DISABLE_PROFILER
                  $patch: delete
  # productcatalogservice - tracing, profiler
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: productcatalogservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "opentelemetrycollector:4317"
                - name: OTEL_SERVICE_NAME
                  value: "productcatalogservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: DISABLE_PROFILER
                  value: "1"
  # recommendationservice - tracing, profiler
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: recommendationservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "opentelemetrycollector:4317"
                - name: OTEL_SERVICE_NAME
                  value: "recommendationservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: DISABLE_PROFILER
                  $patch: delete
  # shippingservice - stats, tracing, profiler
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: shippingservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: DISABLE_PROFILER
                  $patch: delete
